body {
  background-color: #fafafa;
  color: #374151;
  font-weight: 600;
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

[data-reach-dialog-overlay] {
  @apply z-50;
}

#__next {
  flex: 1 1 auto;
}

h1, h2, h3, h4, h5, h6, p, ul, span {
  @apply m-0;
}
